body {
    background-color: white;
}
    

.tartalom {
    max-width: 800px;
    margin: auto;
    color: whitesmoke;
}

.fejlec{
    background-image: url(cicak_forras/images/hero.jpg);
    height: 100vh;
    background-size: cover;
    text-align: center;
    color: white;
}

.menu {
    padding: 10px;
    height: 55px;
    margin: 10px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
    text-align: center;
    margin-left: 0;
}

.menu ul li {
    padding: 15px;
    border-style: round;
    margin-right: 30px;
    background-color: #de7000;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.menu ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu ul a:hover {
    color: brown;
}

.szoveg {
    margin-top: 200px;
}

#macskakeres{
    padding: 15px 60px;
    border-style: round;
    border-radius: 100px;
    background-color: #de7000;
    align-content: center;
    text-decoration: none;
    margin: auto;
    color: white;
}

#macskakeresdiv{
    margin: auto;
    padding: 15px 55px;
    width: 30%;
    padding-top: 25px;
}

.masodik {
    text-align: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    margin: 10px;
    background-color: #161616;
    color: white;
    max-width: 780px;
    margin: auto;
}

.harmadik {
    text-align: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    margin: 10px;
    background-color: #161616;
    color: white;
    max-width: 780px;
    margin: auto;
}

.negyedik {
    text-align: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    margin: 10px;
    background-color: #161616;
    color: white;
    max-width: 780px;
    margin: auto;
}

.otodik {
    text-align: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    margin: 10px;
    background-color: #161616;
    color: white;
    max-width: 780px;
    margin: auto;
}

.hatodik {
    text-align: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    margin: 10px;
    background-color: #161616;
    color: white;
    max-width: 780px;
    margin: auto;
}

#fontos {
    font-weight: bold;
}

ul {
    text-align: left;
}

img {
    width: 250px;
    border-radius: 30px 30px 30px 30px;
}

.image-container {
    text-align: center; /* Opcionális, a képek középre igazításához */
}
  
.image-container img {
    display: inline-block;
    margin: 10px; /* Opcionális, a képek közötti térköz beállításához */
}

hr {
    border-left: 5px;
}

#example1 {
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    color: black;
}

.eger {
    width: 100px;
    float: left;
}